& {
  --color-bg: #1e2028;
  --color-text: #f9f9f9;
  --color-text-shade: rgba(247, 247, 247, 0.8);
  --color-dim: #717c9b;
  --color-text-link: #858afa;
  --color-link: #6364ff;
  --color-link-hover: #858afa;
  --color-border: #38384d;

  --color-light-shade: #ffffff05;
  --color-shade: #ffffff10;
  --color-heavy-shade: #ffffff20;
  --color-dark: #232543;  
  --color-placeholder: rgba(255, 255, 255, 0.4);


  --color-red: #f91880;
  --color-dark-red: #df405a;

  // Login
  --color-bg-login-input: var(--color-shade);
  --color-login-error: var(--color-dark-red);

  // Post editor
  --color-bg-post-editor: rgba(39, 44, 64, 0.4);
  --color-bg-post-editor-focus: rgb(39 44 64 / 0.8);
  --color-border-post-editor: rgb(39 44 64 / 0.4);
  --color-border-post-editor-focus: rgb(39 44 64 / 0.8);
  --color-selection-post-editor: rgba(100, 100, 100, 0.5);

}

/**
TODO: light
--color-bg: #f7f9f9;
  --color-text: #1e2028;
  --color-dim: #9388a6;
  --color-text-link: #858afa;
  --color-border: #e6e1ed;
**/
