@mixin button-round-large {
  background-color: var(--color-link);
  border: 0;
  border-radius: 5rem;
  color: var(--color-text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    Inter,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif,
    " Apple Color Emoji",
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  padding: 7px 18px;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-link-hover);
    cursor: pointer;
  }
}

/* Used to normalize a button's width in a flexbox, while remaining centered */
@mixin normalize-in-center-flex {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
