.editor-container {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);

  .post-editor {
    border-radius: 0.25rem;
    background-color: var(--color-bg-post-editor);
    border-color: var(--color-border-post-editor);
    transition: all 200ms;

    &:focus-within {
      background-color: var(--color-bg-post-editor-focus);
      border-color: var(--color-border-post-editor-focus);
    }

    .options-tooltip {
      background-color: black;
      color: white;
    }

    .editor {
      min-height: 100px;
      max-height: 20vh !important; // TODO: 10vh on smaller screens
      padding: 0.625rem;
      overflow-y: auto;

      textarea {
        overflow-y: visible;
        height: 100%;

        &::selection {
          color: transparent;
          background-color: var(--color-selection-post-editor);
        }
      }

      textarea,
      p {
        margin: 0;
        padding: 0;
        min-height: 100px;
        color: transparent;
        caret-color: var(--color-text);
        font-family: mastodon-font-sans-serif, sans-serif;
        font-size: 15px;
        width: 100%;
        background: transparent;
        border: 0;
        resize: none;

        // Placeholder
        &.is-editor-empty::before {
          color: #adb5bd;
          content: attr(data-placeholder);
          float: left;
          height: 0;
          pointer-events: none;
        }

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: var(--color-placeholder);
          opacity: 1;
        }

        .link {
          color: var(--color-link);

          &:hover {
            color: var(--color-link-hover);
            cursor: pointer;
            user-select: none;
          }
        }
      }

      .editor-copy {
        position: relative;

        p {
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
          width: fit-content;
          color: var(--color-text);

          pointer-events: none;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .autosuggest-wrapper {
      position: relative;

      .autosuggest {
        position: absolute;
        background-color: var(--color-dark);
        width: calc(100% - 12px);
        z-index: 10;
        top: 0;
        left: 0;

        padding: 6px;
        border-radius: 0 0 4px 4px;
        
        .autosuggest-item {
          padding: 10px;
          border-radius: 4px;
  
          &.active {
            background-color: var(--color-shade);
          }

            &:not(:first-child) {
              margin-top: 10px;
            }
  
            .item-title {
              margin: 0;
  
              font-weight: bold;
  
              span {
                font-weight: normal;
              }
            }
          
        }
      }
    }

    .action-bar {
      display: flex;
      padding: 0.375rem;

      flex-direction: row;
      justify-content: space-between;

      .character-count {
        color: var(--color-dim);
        font-size: 0.875rem;
        font-weight: 700;

        margin-inline-end: 4px;
      }

      .actions {
        display: flex;
        gap: 0.25rem;
      }
    }

    .mention {
      color: var(--color-link);
      transition: all 0.2s;

      &:hover {
        color: var(--color-link-hover);
        cursor: pointer;
      }
    }
  }

  .editor-header {
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;

    .editor-avatar {
      border-radius: 100rem;
    }

    .account-name {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      justify-content: center;

      font-size: calc(1rem - 3px);
    }
  }

  .post-button-container {
    display: flex;
    justify-content: flex-end;

    .post-button {
      @include button-round-large;
      margin-top: 1rem;
    }
  }
}

.mention-items {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-bg);

  .item {
    font-weight: 500;
    border: 1px solid transparent;
    display: block;
    margin: 0;
    padding: 0.3rem 0.6rem;
    text-align: left;
    width: 100%;
    background-color: transparent;
    color: var(--color-text);
    transition: all 0.2s;

    &.is-selected {
      color: var(--color-link);
    }

    &:hover {
      color: var(--color-link-hover);
      cursor: pointer;
    }
  }
}
