.login-container {
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;

  .login-button {
    @include button-round-large;
    @include normalize-in-center-flex;
    margin-top: 1rem;
  }

  .instance-input-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;   
    background-color: var(--color-bg-login-input);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    .instance-input {
      display: flex;
      justify-content: center;

      .input-prefix {
        color: var(--color-dim);
        line-height: 22.5px;
        letter-spacing: 0.025rem;
      }
  
        input {
          color: var(--color-text);
          background: transparent;
          border: 0;
  
          &:focus {
            outline: none;
          }
        }
    }
  }

  .login-error {
    color: var(--color-login-error);
    font-size: 0.75rem;
  }

  .github-container {
    margin-top: 2rem;
    
    a {
      color: white;
      transition: all .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      
      &:hover {
        color: var(--color-link-hover);
      }
    }
  }
}