.tusked-app {
  display: flex;
  justify-content: center;

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80vw;
    min-height: 100vh;

    .navbar {
      width: 300px;
      
      .navbar-inner {
        position: fixed;
      }
    }
  
    .main-content {
      width: var(--feed-width);
      border-left: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
    }
  }
}
