.tusked-app {
  display: flex;
  justify-content: center;

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80vw;
  
    .navbar {
      width: 300px;
    }
  
    .main-content {
      width: 600px;
    }
  }
}
